{% extends "base.html" %}

{% block header %}{% include 'header.html' %}{% endblock header %}

{% block content %}
<section id="about">
    <div class="container-fluid about-header">
        <div class="container">
            <h1>About us</h1>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <h1 class="text-center">ABOUT <span>TRAVEL TOUR</span> HOTEL</h1>
    </div>
    <div class="container">
        <p>Travel Tour Hotel is the most preferred hotel in West Africa and it's all about the right mix! Located in the heart of Victoria Island and shielded from the hustle and bustle of the Lagos metropolis, we offer our corporate clients and walk in guests a perfect blend of relaxation, activities, and African tradition delicately infused to meet the highest international standards.</p>
        <p>Overlooking the Atlantic City and Ocean, it is just a 10-minute drive to the City Centre and only 45minutes away from the Airport.</p>
        <p>Our hotels are designed for your comfort and convenience. Your security is our primary concern and you'll find our customer care second to none.</p>
        <p>Our hotel has taken important steps to live up to West Africa's future model in the hospitality sector. With the best conference and banqueting facilities, tastefully furnished to a 7000-seater capacity, a world-class swimming pool, 824 excellently furnished rooms spread across 4 hotels: Travel Tour SIGNATURE, Travel Tour SUITES, Travel Tour Hotel GARDENS, mostly with a choice of city and sea views. We have 9 different restaurants and 7 different bars serving a range of international cuisines, amongst other facilities.</p>
        <p>The hotel is equipped with a state of the art health and fitness centre comprising of a gym, a tennis/basket ball court, a volley ball court, a sauna, spa, salon, and nail studio. We have an in-house medical clinic as well.</p>
        <p>We host the best themed buffet every Friday evening where we serve specialties across the globe: Africa, Asia, America, Italy, Mexico Middle East and Mongolia amongst others.</p>
        <p>We are passionate about serving you and look forward to having you.</p>
        <p>Welcome to Travel Tour Hotel, Nesting International Standards with African Hospitality.</p>
    </div>
</section>
{% endblock content %}

{% block footer %}{% include "footer.html" %}{% endblock footer %}