{% extends "base.html" %}
{% load static %}
{% block header %}{% include 'header.html' %}{% endblock header %}


{% block content %}
    <!-- The Crossroad Restaurant -->
    <section id="crossroad-restaurant" class="container">
        <div class="container-fluid crossroad-restaurant-wrapper">
            <div class="container crossroad-restaurant">
                <h1>BASKETBALL COURT</h1>
            </div>
        </div>
        <div class="active">
            <img src="{% static '' %}img/basketballcourt.jpg" class="d-block w-100" alt="...">
            <p>BASKETBALL COURT DETAILS</p>
        </div>
        <p>Enjoy shooting hoops at the court for more leisure time. Access to the court for outside guests are at an additional cost.</p>
        <p><b>Opening Times:</b> Monday – Sunday (8am – 8pm)</p>
    </section>
    <!-- The Sky Restaurant done -->
{% endblock content %}

{% block footer %}{% include "footer.html" %}{% endblock footer %}