{% extends "base.html" %}
{% load static %}
{% block header %}{% include 'header.html' %}{% endblock header %}


{% block content %}
        <!-- The Crossroad Restaurant -->
        <section id="crossroad-restaurant" class="container">
            <div class="container-fluid crossroad-restaurant-wrapper">
                <div class="container crossroad-restaurant">
                    <h1>GYMNASIUM</h1>
                </div>
            </div>
            <div class="active">
                <img src="{% static '' %}img/gym-1 (1).jpg" class="d-block w-100" alt="...">
                <p>GYMNASIUM DETAILS</p>
            </div>
            <p>Our well-equipped gym with steaming rooms are accessible to our in-house fit fam junkies, and comes with an available instructor. Access to the gym for outside guests are only available to members only.</p>
            <p><b>Opening Time:</b> Monday – Sunday (7am – 8pm)</p>
        </section>
        <!-- The Sky Restaurant done -->
        <div class="container">
            <h4 class="text-center" style="color: var(--darkorange);">Yoga Gym Mat.</h4>
            <script type="text/javascript">
                amzn_assoc_tracking_id = "agency0a-20";
                amzn_assoc_ad_mode = "manual";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_design = "enhanced_links";
                amzn_assoc_asins = "B07PTNTS3R";
                amzn_assoc_placement = "adunit";
                amzn_assoc_linkid = "b86e123af66ffc24d9a73f5cc7fe1568";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
        <hr>
        <div class="container">
            <h4 class="text-center" style="color: var(--darkorange);">Wireless Earbud for a workout.</h4>
            <script type="text/javascript">
                amzn_assoc_tracking_id = "agency0a-20";
                amzn_assoc_ad_mode = "manual";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_design = "enhanced_links";
                amzn_assoc_asins = "B09KGLRF8J";
                amzn_assoc_placement = "adunit";
                amzn_assoc_linkid = "cbb7403dec821a4dca22df4a83a809c9";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
{% endblock content %}
    

{% block footer %}{% include "footer.html" %}{% endblock footer %}