{% extends "base.html" %} {% load static %} {% block header %}{% include "header.html" %}{% endblock header %} {% block banner %} {% include "banner.html" %}{% endblock banner %} {% block content %}



<!-- HERO1 -->
<section id="welcome-msg">
    <div class="container text-center">
        <div class="welcome-msg">
            <h1 class="welcome-to"><strong>WELCOME TO</strong> <span>LEMON GROOVE HOTELS AND SUITES</span></h1>
        </div>
    </div>
</section>
<!-- HERO1 Done -->


<!-- Our Hotel -->
<div class="hotel_suit_container">
    <!-- our-hotel-heading -->
    <section id="our-hotel-heading">
        <div class="container text-center">
            <div class="our-hotel-heading">
                <h1><strong>OUR </strong> <span>HOTEL </span> SUITES</h1>
            </div>
        </div>
    </section>
    <!-- our-hotel-heading ends-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/mt-0617-hotel-best-place1.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">ECONOMY</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/mt-0617-hotel-best-place2.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">STANDARD</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/mt-0617-hotel-best-place3.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">BUSINESS</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/salon.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">ROYAL</p>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- Our Hotel Done -->

<!-- About section  -->
<section id="about-section mb-5">
    <div class="container-fluid about-section mt-4">
        <div>
            <img src="{% static '' %}img/abt.jpg" alt="" class="img-fluid">
        </div>
        <div>
            <h4 class="mb-4">ABOUT US</h4>
            <h3>The Most Preferred Hotel in West Africa</h3>
            <p>Lemon Groove Hotels & Suites is the most preferred hotel in West Africa, and it is all about the right mix! Located in the heart of Victoria Island, we offer our clients a perfect blend of business & leisure amenities with dining and recreational
                options delicately infused in one amazing space. We crown all these with services that meet the highest international standards. Overlooking the new Eko Atlantic City and Atlantic Ocean.
            </p>
        </div>
    </div>
</section>
<!-- About section done -->


<!-- Our Hotel -->
<div class="hotel_container">
    <!-- our-hotel-heading -->
    <section id="our-hotel-heading">
        <div class="container text-center">
            <div class="our-hotel-heading">
                <h1><strong>Much More To </strong> <span>ENJOY</span> on Arrival</h1>
            </div>
        </div>
    </section>
    <!-- our-hotel-heading ends-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/mt-0617-hotel-best-place1.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">SPA</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/mt-0617-hotel-best-place2.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">GYM</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/mt-0617-hotel-best-place3.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">RESTUARANT</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-8 col-sm-5 mt-3 mb-3">
                <div class="card">
                    <img src="{% static '' %}img/salon.jpg" alt="" class="img-fluid">
                    <div class="card-body">
                        <p class="">SALON</p>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- Our Hotel Done -->



{% endblock content %} {% block footer %}{% include 'footer.html' %}{% endblock footer %}