{% extends "base.html" %}

{% block header %}{% include 'header.html' %}{% endblock header %}


{% block content %}
<!-- The Password section -->
<section id="profile">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="" style="color: var(--darkorange);">Home</a></li>
                <!-- <li class="breadcrumb-item"><a href="/index.html" style="color: var(--darkorange);">My Reservations</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Password Update</li>
            </ol>
            </nav>
    </div>
    <div class="container">
        <hr>
        <h4><b style="color: var(--darkorange);">Update Your Password.</b></h4>
        <hr>
        <div class="container mt-4 mb-4">
            <a href="{% url 'user_profile' %}">My Profile</a>
            <a href="{% url 'reservation' %}">My Reservations</a>
        </div>
    </div>

    <div class="container">
        <form action="" method="POST" class="personal-details">
        {% csrf_token %}
            <div class="email&psd mt-3">
                <i class="fas fa-envelope"></i>
                <h5>Password Update</h5>
            </div>
            <div>
                <p class="text-muted">{{form.as_p}}</p>
                <button class="edit-profile" type="submit">Update</button>                
            </div>
        </form>
    </div>
</section>
<!-- The Password section done -->
{% endblock content %}
    

{% block footer %}{% include "footer.html" %}{% endblock footer %}


